.*
!.gitignore
*.aux
*.cfg
*.data
*.dll
*.dylib
*.egg-info/
*.fdb_latexmk
*.fls
*.hdf5
*.log
*.npy
*.o
*.out
*.pdf
*.pyc
*.pyo
*.so
*.spec
*.swo
*.swp
*.synctex.gz
*.toc
__pycache__/
build/
dist/
doc/_build/
results/
