._*
.DS_Store
*.pyc
*.pyo
*.npy
*.data
*.o
*.so
*.swp
*.swo
src/results
src/xyz
doc/_build
src/.idea
*.hdf5
*.cfg
*.spec
*.log
*.fdb_latexmk
*.aux
*.out
*.fls
*.toc
*.pdf
*.synctex.gz
results/*
.idea/*

pyMolDyn*.app
