<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
</head>

<body>

<div id="content">
  <h2>Summary of all atoms</h2>

  <p>number of atoms: {{ atom_number }} </p>

  <table>
    <tr>
        <td><strong>element</strong></td>
        <td><strong>quantity</strong></td>
    </tr>
    {% for elem,count in atom_elements.iteritems() %}
    <tr>
        <td>{{ elem }}</td>
        <td>{{ count }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

</body>
</html>