<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}"/>
</head>

<body>

<div id="content">
    <div class="headline"> Domain Surface-based Cavity {{ index+1 }}</div>
    {% if is_cyclic %}
    <div class="alertbox">
      <span class="alert">Warning:</span> The surface-based cavity is infinite.
    </div>
    {% endif %}
    <table class="table_margin_upper_table">
        {% if not is_cyclic %}
        <tr>
            <td>center:</td>
            <td> {% for domain in domains: %}
                <a href="domain:{{domain[0]}}">({{ "%.4f, %.4f, %.4f"|format(domain[1][0], domain[1][1], domain[1][2]) }})</a>
                <br/>

                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>surface:</td>
            <td>{{ "%.4f"|format(surface) }} &#x212b;<sup>2</sup></td>
        </tr>
        <tr>
            <td>volume:</td>
            <td>{{ "%.4f"|format(volume) }} &#x212b;<sup>3</sup></td>
        </tr>
        <tr>
            <td>volume fraction:</td>
            <td>{{ "%.4f"|format(volume_fraction) }}%</td>
        </tr>
        <tr>
            <td>surface-area-to-volume ratio:</td>
            <td>{{ "%.4f"|format(surface_to_volume_ratio) }} &#x212b;<sup>-1</sup></td>
        </tr>
        <tr>
            <td>squared gyration radius:</td>
            <td>{{ "%.4f"|format(squared_gyration_radius) }} &#x212b;<sup>2</sup></td>
        </tr>
        <tr>
            <td>asphericity:</td>
            <td>{{ "%.4f"|format(asphericity) }}</td>
        </tr>
        <tr>
            <td>acylindricity:</td>
            <td>{{ "%.4f"|format(acylindricity) }}</td>
        </tr>
        <tr>
            <td>anisotropy:</td>
            <td>{{ "%.4f"|format(anisotropy) }}</td>
        </tr>
        <tr>
            <td> &nbsp; </td>
            <td><a href="hideothers:surface_cavity:{{ index+1 }}">Hide all other surface cavities</a></td>
        </tr>
        <tr>
            <td> &nbsp; </td>
            <td><a href="addtovisible:surface_cavity:{{ index+1 }}">Add to list of visible surface cavities</a></td>
        </tr>
        <tr>
            <td> &nbsp; </td>
            <td><a href="showall:surface_cavities">Show all surface cavities</a></td>
        </tr>
        {% endif %}
        <!--<tr>
            <td>atoms: </td>
            <td>todo</td>
        </tr>-->
    </table>
</div>

</body>
</html>
