<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
</head>

<body>

<div id="content">
  <div class="headline">Cavity Domain {{ index+1 }}</div>

  <table class="table_margins">
    <tr>
        <td>center: </td>
        <td>({{ "%.4f, %.4f, %.4f"|format(domain_center[0], domain_center[1], domain_center[2]) }})</td>
    </tr>
     <tr>
        <td>surface: </td>
        <td>{{ "%.4f"|format(surface) }} &#x212b;<sup>2</sup></td>
    </tr>
    <tr>
        <td>volume: </td>
        <td>{{ "%.4f"|format(volume) }} &#x212b;<sup>3</sup></td>
    </tr>
    <tr>
        <td>volume fraction: </td>
        <td>{{ "%.4f"|format(volume_fraction) }}%</td>
    </tr>
    <tr>
        <td>atoms: </td>
        <td>todo</td>
    </tr>
    <tr>
        <td>cavities:</td>
        <td>
        {% for cavity in cavities: %}
            {{ "Cavity %3d, "|format(cavity) }}
        {% endfor %}
        </td>
    </tr>
    <tr>
        <td>alt. cavities: </td>
        <td>
        {% for cavity in alt_cavities: %}
            {{ "Cavity %3d"|format(cavity) }}
        {% endfor %}
        </td>
    </tr>
    <tr>
        <td> &nbsp; </td>
        <td>Focus</td>
    </tr>
  </table>
</div>

</body>
</html>